<p-dialog
  header="Edit Attendance Status"
  [(visible)]="day.visibleModal"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <form class="flex flex-column gap-3" [formGroup]="formGroup">
    <div *ngFor="let status of radioBtnStatuses" class="field-checkbox">
      <p-radioButton
        [inputId]="status.key"
        [value]="status.name"
        formControlName="selectedStatus"
      ></p-radioButton>
      <label [for]="status.key" class="ml-2">{{ status.name }}</label>
    </div>
    <div
      *ngIf="!formGroup.controls['selectedStatus'].valid && formGroup.touched"
    >
      <span style="color: red">* Please select one option.</span>
    </div>
    <textarea
      rows="5"
      cols="77"
      pInputTextarea
      formControlName="justification"
    ></textarea>

    <div
      *ngIf="!formGroup.controls['justification'].valid && formGroup.touched"
    >
      <span style="color: red">* Please write Justification.</span>
    </div>
    <p-button (onClick)="submit()" label="Save"></p-button>
  </form>
</p-dialog>
