<div class="calendar-month">
  <section class="calendar-month-header">
    <div id="selected-month" class="calendar-month-header-selected-month">
      {{ selectedMonth.format("MMMM YYYY") }}
    </div>
    <section class="calendar-month-header-selectors">
      <span (click)="previousMonth()"> < </span>
      <span (click)="today()"> Today </span>
      <span (click)="nextMonth()"> > </span>
    </section>
  </section>

  <ol id="days-of-week" class="day-of-week">
    <li *ngFor="let weekday of weekdays">{{ weekday }}</li>
  </ol>

  <ol id="calendar-days" class="days-grid">
    <li
      *ngFor="let day of allDays"
      class="calendar-day"
      [class.calendar-day--not-current]="!day.isCurrentMonth"
      [class.calendar-day--today]="day.isCurrentDay"
      (click)="showModal(day,$event)"
    >
      <span>{{ day.dayOfMonth }}</span>

      <app-calendar-modal 
      (click)="$event.stopPropagation()" 
      [day]="day" 
      />

      <div *ngIf="day.isAfterCurrentDate">
        <p-badge
          [value]="day.attendenceStatus"
          severity="{{ getAttendanceStatus(day.attendenceStatus) }}"
        />
      </div>
    </li>
  </ol>
</div>
