body {
  font-family: sans-serif;
  --grey-100: #e4e9f0;
  --grey-200: #cfd7e3;
  --grey-300: #b5c0cd;
  --grey-800: #3e4e63;
  --grid-gap: 1px;
  --day-label-size: 20px;
}

ol,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.calendar-month {
  position: relative;
  background-color: var(--grey-200);
  border: solid 1px var(--grey-200);
}

.calendar-month-header {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 10px;
}

.calendar-month-header-selected-month {
  font-size: 24px;
  font-weight: bold;
}

.calendar-month-header-selectors {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80px;
}

.calendar-month-header-selectors > * {
  cursor: pointer;
}

.day-of-week {
  color: var(--grey-800);
  font-size: 18px;
  background-color: #fff;
  padding-bottom: 5px;
  padding-top: 10px;
  font-weight: bold;
}
.day-of-week,
.days-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.day-of-week > * {
  text-align: right;
  padding-right: 5px;
}

.days-grid {
  height: 100%;
  position: relative;
  grid-column-gap: var(--grid-gap);
  grid-row-gap: var(--grid-gap);
  border-top: solid 0px grey;
}

.calendar-day {
  position: relative;
  min-height: 100px;
  font-size: 16px;
  color: var(--grey-800);
  padding: 5px;
  border-bottom: solid 1px black; /* Add border to the days */
}

.calendar-day > span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 2px;
  width: var(--day-label-size);
  height: var(--day-label-size);
  font-weight: bold;
}

.circular-button {
  border-radius: 100%;
  border: none;
  margin-left: 10px;
  background-color: inherit;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.circular-button:hover {
  background-color: grey;
}

/* .calendar-day > i {
  border-radius: 50%;
  border: none;
  font-size: 0.7rem;
  cursor: pointer;
  margin-left: 10%;
  transition: background-color 0.2s ease;
}

.calendar-day > i:hover {
  background-color: #e74c3c;
} */

.calendar-day--not-current {
  color: var(--grey-300);
  opacity: 0.5;
  background-color: #efefef;
}

.calendar-day--today {
  display: inline-block;
}

.calendar-day--today > span {
  color: white;
  background-color: #cf2020;
  border-radius: 50%;
  height: 26px;
  width: 26px;
  line-height: 26px;
  display: inline-block;
  text-align: center;
  margin-right: 6px;
}

.calendar-day > div {
  bottom: 0;
  left: 0;
  position: absolute;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 5px;
}
